
unitest.report
!test/**/*.c
!app/**/*.c

.DS_STORE
**/build/
**/bin/
**/_minted/
*.aux
*.log
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*.thm
*.fdb_latexmk
*.fls
GTAGS
GRTAGS
GPATH
.projectile
.gdb_history
*.o
*~
*.*~
*._*~

captured*.stdout